*{
    margin: 0;
    padding: 0;
}

/* Font */

/* Logo font */


.inter-logo{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Main font */
.raleway-main {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Shared styles */
.main-button{
    padding: 16px 36px;
    background-color: #4E47FF;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.main-button:hover{
    background-color: #4d47ffb6;
}
.main-color{
    color: #252432;
}

/* header */
header{
    width: 100%;
    height: 700px; 
    background-image: url(./../Assets/Hero-bg.png);
}

/* Nav Style */
nav{
    margin: 0px 150px;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    margin-top: 50px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
} 

/* ##Start Banner styles */
.banner-conatiner{
    margin: 200px 265px 150px 265px;
}
.banner-conatiner h1{
    font-size: 65px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

.banner-conatiner div{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}
/* &&End Banner styles */



/* ##Start Action section style */
.action{
    margin-top: 115px;
    margin-bottom: 115px;
}
.action-container{
    display: flex;
    max-width: 1140px;
    margin: auto;
    gap: 220px;
    /* justify-content: space-around; */
}
.action-container div{
    max-width: 517px;
    margin: 63px;    
}
.action-container div h2{
    color: rgba(37, 36, 50, 1);
    font-size: 42px;
    font-weight: bold;
    
}
.action-container div p{
    color: #252432;
    margin: 25px 0;
    line-height: 30px;
    font-size: 24px;
}

.action-container img{
    border-radius: 30px;
}
/* &&End Action section style */

/* New Section */
.number{
    max-width: 1140px;
    margin: auto;
    background-color: #8a86ff41;
    border-radius: 20px;
}
.number-container{
    padding: 40px 80px;
}
.number h1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: 800;
    color: #252432;
}
.number-items{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

}
.number-items h1{
    font-weight: 800;
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
}
.number-items p{
    margin-top: 10px;
    font-size: 20px;
}

/* Review styles */
.card-margin{
    margin-bottom: 135px;
}


.review{
    max-width: 1140px;
    margin: auto;
}
.review-container h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    justify-content: space-around;
}
.card{
    max-width: 336px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    border-radius: 14px;
    /* line-height: 30px; */

}
.inner-card-p{
    line-height: 25px;
    margin-top: 10px;
}
.icons{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}
.inner-conatiner{
    margin-top: 10px;
    display: flex;
    gap: 15px;
    /* justify-content: center;
    text-align: center; */
    color: #25243296;
    line-height: 20px;
    align-items: center;
}

/* Focus Section design */
.focus{
    max-width: 1140px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 14px;

}
.btn{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.focus-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.focus-des{
    display: flex;
    justify-content: center;
}
.focus img{
    border-radius: 35px;
    margin-bottom: 70px;
}

/* Touh style */
.touch{
    max-width: 1140px;
    margin: auto;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 14px; */
}
.touch-parent{
    display: flex;
    justify-content: space-between;
}
.touch-col-l h1{
    font-size: 97px;
    font-weight: bold;
}
.touch-col-r input{
    display: block;
}
.touch-col-r label{
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
}
.touch-i{
    margin-bottom: 30px;
    border-radius: 6px;
    width: 495px;
    height: 70px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    outline: none;
}
input::placeholder,
textarea::placeholder {
    color: #888888;            
    font-size: 20px;
    font-weight: 500;        
    letter-spacing: 1px;     
}
textarea.touch-i{
    height: 150px;
    width: 495px;
    resize: vertical;
}

input[type="submit"]{
    background-color: #4E47FF;
    padding: 19px 233px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border: none;
}
input[type="submit"]:hover{
    background-color: #4d47ffb6;
}

/* Footer */
footer{
    width: 100%;
    margin: auto;
    background-color: rgba(215, 213, 251, 0.774);
}
.footer-container{
    padding: 155px 400px;
    max-width: 530px;
    margin: auto;
}
.footer-logo{
    font-size: 1000;
    font-size: 100px;
    color: rgba(78, 71, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-des{
    font-size: 16px;
    color: 8987A1;
    line-height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-items{

    margin-top: 10px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}